@use "../../styles/partials/typography.scss";
@use "../../styles/partials/palette.scss";

.wrapper {
  display: flex;
  width: 350px;

  background-color: white;
  border: 1px solid palette.$outline-color;
  border-radius: 20px;
  font-family: typography.$primary-font;
}

.img {
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.title {
  font-size: 16px;
}

.authors {
  font-size: 13px;
}

.description {
  font-size: 12px;
  font-style: italic;
}
