@use "../../styles/partials/palette.scss";
@use "../../styles/partials/typography.scss";
@use "../../styles/partials/mixins/media-queries.scss";

.wrapper {
  display: flex;
}

.text_input {
  padding: 0 15px;
  height: 40px;
  width: 30vw;

  font-family: typography.$primary-font;
  border: none;
  border-radius: 10px 0 0 10px;

  @include media-queries.phone {
    width: 60vw;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;

  background-color: palette.$primary-btn-color;
  border: none;
  border-radius: 0 10px 10px 0;

  transition: 0.3s;

  &_icon {
    width: 25px;
  }

  &:hover {
    background-color: palette.$primary-btn-color--hover;
  }
}
