@use "./styles/partials/palette.scss";

* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-color: palette.$primary-bg-color;
}
