@use "../../styles/partials/typography.scss";

.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 5vh 0;
}

.page_heading {
  font-family: typography.$accent-font;
  font-size: 48px;
}
